@import '../../index.scss';

body {
  align-items: center;
  background-color: $la-color-gray-lighter;
  font-family: 'Segoe UI', Tahoma;
  justify-content: center;
  margin: 0;
  margin: 0;
  padding: 0;
}

// .App {
//   text-align: center;
// }

h1, h2 {
  color: $la-color-purple-primary;
}

form {
  align-items: center;
  background-color: $la-color-white-primary;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex; /* Flexbox para alinear los elementos */
  flex-direction: column; /* Alinea los elementos en columna */
  justify-content: center; /* Centra los elementos verticalmente */
  margin: 20px auto;
  padding: 10px;
  width: 455px;
}
