@import '../../../../index.scss';

// Input de Google 

.date-group {
    font-family: 'Segoe UI', Tahoma;
    font-size: 15px;
    margin: 10px;
    position: relative;
}

.date-input {
    all: unset;
    border: 0.5px solid $la-color-gray-light;
    border-radius: 11px;
    color: $la-color-black-primary;
    padding: 7px 15px;
    text-align: left;
    width: 400px;
}

.date-input:focus {
    border: 1px solid $la-color-pink-primary;
}

.date-label {
    background-color: $la-color-white-primary;
    color: $la-color-pink-primary;
    font-size: 12px;
    left: 15px;
    padding: 0 5px;
    pointer-events: none;
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    transition: color 0.2s;
}
