@import '../../../../index.scss';

.select {
    border: 1px solid $la-color-gray-light;
    border-radius: 11px;
    font-family: 'Segoe UI', Tahoma;
    font-size: 15px;
    margin: 10px 20px;
    padding: 7px 15px;
    width: 400px;
}

.select:focus {
    border: 1px solid $la-color-pink-primary;
}
