@import '../../../../index.scss';

.select {
    border: 1px solid $la-color-gray-light;
    border-radius: 11px;
    font-family: 'Segoe UI', Tahoma;
    font-size: 15px;
    margin: 2px 10px 10px;
    padding: 7px 15px;
    width: 400px;
    --primary: #{$la-color-pink-primary};
}

.select:focus {
    border: 1px solid
        var(--primary);
}