$la-color-purple-primary: #620DD1;
$la-color-purple-dark: #4f0aa6;
$la-color-purple-light: #7210f1;
$la-color-purple-lighter: #8b47ff;
$la-color-pink-dark: #AC054C;
$la-color-pink-primary: #E1035A;
$la-color-pink-light: #ff2f72;
$la-color-gray-primary: #615E67;
$la-color-gray-light: #96949c;
$la-color-gray-lighter: #f0f0f0;
$la-color-black-primary: #313131;
$la-color-white-primary: #fff;
$la-color-green-primary: #00a650;