@import '../../../../index.scss';

.container-card {
    display: flex;
    flex-wrap: wrap;       // Permite que las cards pasen a la siguiente línea si no caben en una sola fila
    gap: 20px;             // Espacio entre las cards
    justify-content: start;
}

.article-card {
    background-color: $la-color-white-primary;
    border-radius: 11px;
    box-shadow: 0 4px 11px rgba(0, 0, 0, 0.1);
    height: 360px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
    width: 320px;
}

.article-card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transform: scale(1.03);
}

.article-image-content {
    align-items: center;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    display: flex;
    height: 190px;
    justify-content: center;
    overflow: hidden;
    padding: auto;
}

.article-image {
    height: 190px;
    object-fit: contain;
    width: 300px;
}
.article-content {
    padding: 10px 20px;
    text-align: left;
}
.article-name {
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 8px;
}
.article-category {
    color: $la-color-green-primary;
    display: flex;
    font-size: 14px;
    margin-bottom: 4px;
}
.article-category::before {
    content: "✓";
    margin-right: 4px;
}
.article-description {
    font-size: 14px;
    margin: 0 0 16px;
}  