@import '../../../../index.scss';

.article-card {
    background-color: $la-color-white-primary;
    border-radius: 11px;
    box-shadow: 0 4px 11px rgba(0, 0, 0, 0.1);
    height: 360px;
    margin-bottom: 20px;
    width: 320px;
}

.article-image-content {
    align-items: center;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    display: flex;
    height: 190px;
    justify-content: center;
    overflow: hidden;
    padding: auto;
}

.article-image {
    height: auto;
    width: 100%;
}
.article-content {
    padding: 16px;
    text-align: left;
}
.article-name {
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 8px;
}
.article-category {
    color: $la-color-green-primary;
    display: flex;
    font-size: 14px;
    margin-bottom: 4px;
}
.article-category::before {
    content: "✓";
    margin-right: 4px;
}
.article-description {
    font-size: 14px;
    margin: 0 0 16px;
}

.article-button {
    background-color: transparent;
    border: 1px solid $la-color-pink-primary;
    border-radius: 8px;
    color: $la-color-pink-primary;
    cursor: pointer;
    font-size: 13px;
    padding: 10px 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 100%;
}

.article-button:hover {
    background-color: $la-color-pink-primary;
    color: $la-color-white-primary;
}
  