@import '../../../../index.scss';

.container-user {
    display: flex;
    flex-wrap: wrap;       // Permite que las cards pasen a la siguiente línea si no caben en una sola fila
    gap: 20px;             // Espacio entre las cards
    justify-content: start;
}

.user-card {
    background-color: $la-color-white-primary;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 180px;
    margin-bottom: 35px;
    margin-top: 30px;
    padding: 60px 15px 2px;
    position: relative;
    text-align: center;
    width: 270px;
}

.user-avatar {
    align-items: center;
    background-color: $la-color-pink-primary;
    border-radius: 50%;
    display: flex;
    height: 100px;
    justify-content: center;
    left: 50%;
    margin: 0 auto 20px;
    position: absolute;
    top: -28px; /* 40% of 100px */
    transform: translateX(-50%);
    width: 100px;
}

.user-avatar-icon {
    background-color: $la-color-purple-primary;
    border-radius: 50%;
    height: 90px;
    width: 90px;
}

h2 {
    color: $la-color-black-primary;
    margin-bottom: 10px;
}

.user-info {
    margin-bottom: 15px;
    margin-bottom: 20px;
}

.user-info p {
    color: $la-color-gray-primary;
    margin: 5px 0;
}